<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Operator Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<!-- Navigation -->
<div th:insert="fragments/header :: header"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-5 mb-5">
                <label style="font-size:30px" th:inline="text">Witaj <a
                        style="color:orange; text-transform:capitalize"><b>[[${#httpServletRequest.remoteUser}]]</b></a>
                    na stronie głównej!</label>
                <div style="font-size:20px">Wybierz dane jakie chcesz zobaczyć</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img width="150px" height="150px"  class="card-img-top" th:src="@{/images/contract.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Umowy</h5>
                        <p class="card-text">Zobacz wszystkie umowy zawarte przez klientów</p>
                        <a th:href="@{/umowy/1}" class="btn btn-warning">Zobacz umowy</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img width="150px" height="150px" class="card-img-top" th:src="@{/images/pracownicy_logo.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Pracownicy</h5>
                        <p class="card-text">Zobacz wszystkich pracowników zatrudnionych w firmie</p>
                        <a th:href="@{/pracownicy/1}" class="btn btn-warning">Zobacz pracowników</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img width="150px" height="175px"  class="card-img-top" th:src="@{/images/clients.png}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Klienci</h5>
                        <p class="card-text">Zobacz wszyskich klientów</p>
                        <a th:href="@{/klienci/1}" class="btn btn-warning">Zobacz klientów</a>
                    </div>
                </div>
            </div>
        </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>