<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>tabela_pracownicy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<table class="table table-fixed" th:fragment="tabela">
    <thead class="table-dark">
    <tr>
        <td>ID</td>
        <td>Imie</td>
        <td>Drugie Imie</td>
        <td>Nazwisko</td>
        <td>Plec</td>
        <td>Numer Telefonu</td>
        <td>Akcja</td>

    </tr>
    </thead>
    <tbody class="table-hover">
    <tr th:each="employee : ${listEmployee}">
        <td th:text="${employee.ID_PRACOWNIKA}">ID</td>
        <td th:text="${employee.IMIE}">Imie</td>
        <td th:text="${employee.DRUGIE_IMIE}">Drugie Imie</td>
        <td th:text="${employee.NAZWISKO}">Nazwisko</td>
        <td th:text="${employee.PLEC}">Plec</td>
        <td th:text="${employee.NUMER_TELEFONU}">Numer Telefonu</td>
        <td>
            <a th:href="@{'/editEmployee/' + ${employee.ID_PRACOWNIKA}}" class="badge badge-dark">Edytuj</a>
            <a th:href="@{/deleteEmployee/(id=${employee.ID_PRACOWNIKA})}" class="badge badge-dark" onclick="return confirmDelete()">Usuń</a>
            <a th:href="@{'/pracownik/' + ${employee.ID_PRACOWNIKA}}" class="badge badge-warning">Zobacz Wiecej</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>