<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <div class="form-group">
                <label>Welcome to the home page!</label>
                <div>If you want to login, click  <a th:href="@{/main}"><b>here</b></a> or in the upper right corner.</div>
            </div>

        </div>
    </div>
</div>

<div align="center">
    <h1>Pracownicy</h1>
    <a href="/new">Dodaj nowego pracownika</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Drugie Imie</th>
            <th>Nazwisko</th>
            <th>PESEL</th>
            <th>Plec</th>
            <th>Data Zatrudnienia</th>
            <th>Numer Telefonu</th>
            <th>ID Adresu</th>
            <th>ID Stanowiska</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${listEmployee}">
            <td th:text="${employee.ID_PRACOWNIKA}">ID</td>
            <td th:text="${employee.IMIE}">Imie</td>
            <td th:text="${employee.DRUGIE_IMIE}">Drugie Imie</td>
            <td th:text="${employee.NAZWISKO}">Nazwisko</td>
            <td th:text="${employee.PESEL}">PESEL</td>
            <td th:text="${employee.PLEC}">Plec</td>
            <td th:text="${employee.DATA_ZATRUDNIENIA}">Data Zatrudnienia</td>
            <td th:text="${employee.NUMER_TELEFONU}">Numer Telefonu</td>
            <td th:text="${employee.ID_ADRESU}">ID Adresu</td>
            <td th:text="${employee.ID_STANOWISKA}">ID Stanowiska</td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

