<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj pracownika</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
    <div class="text-left">
        <img width="150px" th:src="@{/images/user-xxl.png}" />
        <label class="text-center" style="font-size:30px" th:text="${'Pracownik ' + employee.IMIE + ' ' + #strings.defaultString(employee.DRUGIE_IMIE,'') + ' ' + employee.NAZWISKO}"></label>
        <form action="#" th:action="@{/updateEmployee}" th:object="${employee}" method="post">

            <div class="row">
                <div class="col-sm-12">
                    <table class="table" style="table-layout: fixed">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Dane Osobowe</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td><input class="form-control" type="text" th:field="*{ID_PRACOWNIKA}" readonly="readonly" />
                            </td>
                        </tr>

                        <tr>
                            <th scope="row">Imię</th>
                            <td><input class="form-control" th:type="text" type="text" th:field="*{IMIE}" />
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('IMIE')}" th:errors="*{IMIE}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Drugie Imię</th>
                            <td> <input class="form-control" th:type="text" th:field="*{DRUGIE_IMIE}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('DRUGIE_IMIE')}" th:errors="*{DRUGIE_IMIE}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Nazwisko</th>
                            <td> <input class="form-control" th:type="text" th:field="*{NAZWISKO}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('NAZWISKO')}" th:errors="*{NAZWISKO}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">PESEL</th>
                            <td> <input class="form-control" th:type="text" th:field="*{PESEL}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('PESEL')}" th:errors="*{PESEL}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Płeć</th>
                            <td>
                                <select class = "custom-select" th:field="*{PLEC}">
                                    <option th:value="M" th:text="Mężczyzna"></option>
                                    <option th:value="K" th:text="Kobieta"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Numer Telefonu</th>
                            <td> <input class="form-control" th:type="text" th:field="*{NUMER_TELEFONU}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('NUMER_TELEFONU')}" th:errors="*{NUMER_TELEFONU}"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table" style="table-layout: fixed">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Stanowisko</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Nazwa stanowiska</th>
                            <td>
                                <select id="nazw_stan" class="custom-select" th:field="*{ID_STANOWISKA}">
                                    <option th:each="position : ${positionsList}" th:value="${position.ID_STANOWISKA} " th:text="${position.NAZWA + ' (ID: ' + position.ID_STANOWISKA + ')'}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Data Zatrudnienia</th>
                            <td>
                                <div>
                                    <input class="custom-select" type="date" th:field="*{DATA_ZATRUDNIENIA}"/>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table" style="table-layout: fixed">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Adres</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td><input class="form-control" type="text" th:field="*{ID_ADRESU}" readonly="readonly" /></td>
                        </tr>
                        <tr>
                            <th scope="row">Ulica</th>
                            <td> <input class="form-control" th:type="text" th:field="*{ULICA}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('ULICA')}" th:errors="*{ULICA}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Miejscowość</th>
                            <td> <input class="form-control" th:type="text" th:field="*{MIEJSCOWOSC}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('MIEJSCOWOSC')}" th:errors="*{MIEJSCOWOSC}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Numer budynku</th>
                            <td> <input class="form-control" th:type="text" th:field="*{NUMER_BUDYNKU}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('NUMER_BUDYNKU')}" th:errors="*{NUMER_BUDYNKU}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Numer lokalu</th>
                            <td> <input class="form-control" th:type="text" th:field="*{NUMER_LOKALU}"/>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('NUMER_LOKALU')}" th:errors="*{NUMER_LOKALU}"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-success" type="submit">Zapisz</button>
                    <button class="btn btn-danger" type="reset">Wyczyść zmiany</button>
                    <a class="btn btn-warning" th:href="@{/pracownicy/1}">Wróć</a>
                </div>
            </div>

        </form>

    </div>

</body>
</html>
