<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj umowę</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<div class="container">
    <div class="text-left">
        <img width="150px" th:src="@{/images/contract.png}" />
    </div>
    <label class="text-center" style="font-size:30px">Edytuj umowę</label>
    <form action="#" th:action="@{/updateContract}" th:object="${contract}" method="post">

        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Dane umowy</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td> <input class="form-control" th:readonly="${true}" th:field="*{ID_UMOWY}"/></td>
                    </tr>
                    <tr>
                        <th scope="row">Typ usługi</th>
                        <td>
                            <select id="nazw_stan" class="custom-select" th:field="*{ID_USLUGI}">
                                <option th:value="1" th:type="text" th:text="Internet"></option>
                                <option th:value="2" th:type="text" th:text="Telefonia"></option>
                                <option th:value="3" th:type="text" th:text="SMS"></option>
                                <option th:value="4" th:type="text" th:text="MMS"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Data zawarcia umowy</th>
                        <td>
                            <div>
                                <input class="form-control" th:type="date" th:field="*{DATA_ZAWARCIA}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Data zakończenia umowy</th>
                        <td>
                            <div>
                                <input class="form-control" th:type="date" th:field="*{DATA_ZAKONCZENIA}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">ID Klienta</th>
                        <td> <input th:readonly="${true}" th:value="${client.ID_KLIENTA}" class="form-control" th:type="text" name="ID_KLIENTA" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Klient</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td th:text="${client.ID_KLIENTA}"></td>
                    </tr>
                    <th scope="row">Imie</th>
                    <td th:text="${client.IMIE}"></td>
                    <tr>
                        <th scope="row">Nazwisko</th>
                        <td th:text="${client.NAZWISKO}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Pesel</th>
                        <td th:text="${client.PESEL}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Numer telefonu</th>
                        <td th:text="${client.NUMER_TELEFONU}"></td>
                    </tr>
                    <tr>
                        <th scope="row">ID Adresu</th>
                        <td th:text="${client.ID_ADRESU}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button class="btn btn-success" type="submit">Zapisz</button>
                <button class="btn btn-danger" type="reset">Wyczyść zmiany</button>
                <a class="btn btn-warning" th:href="@{/umowy}">Wróć</a>
            </div>
        </div>
    </form>

</div>

</body>
</html>